@font-face{
    font-family:'alh-icons';
    src:url("../fonts/alh-icons.eot?8g8prv");
    src:url("../fonts/alh-icons.eot?8g8prv#iefix") format("embedded-opentype"),url("../fonts/alh-icons.woff2?8g8prv") format("woff2"),url("../fonts/alh-icons.ttf?8g8prv") format("truetype"),url("../fonts/alh-icons.woff?8g8prv") format("woff"),url("../fonts/alh-icons.svg?8g8prv#alh-icons") format("svg");
    font-weight:normal;
    font-style:normal
}
.destination-features .feature-wrapper{
    *zoom:1
}
.destination-features .feature-wrapper:before,.destination-features .feature-wrapper:after{
    content:" ";
    display:table
}
.destination-features .feature-wrapper:after{
    clear:both
}
.container{
    margin-left:auto;
    margin-right:auto;
    width:1170px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .container{
        width:100%
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .container{
        width:100%
    }
}
.row{
    width:100%;
    max-width:1170px;
    margin:0 auto;
    zoom:1;
    padding:0
}
.row:before,.row:after{
    content:"";
    display:table
}
.row:after{
    clear:both
}
.row>div{
    float:left;
    margin-right:gutter;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .row{
        width:100%
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .row{
        width:100%
    }
}
.col-1{
    width:8.33333%;
    padding-left:2.5641%;
    padding-right:2.5641%
}
.col-2{
    width:16.66667%;
    padding-left:2.5641%;
    padding-right:2.5641%
}
.col-5{
    width:41.66667%;
    padding-left:2.5641%;
    padding-right:2.5641%
}
.col-8{
    width:66.66667%;
    padding-left:2.5641%;
    padding-right:2.5641%
}
.col-10{
    width:83.33333%;
    padding-left:2.5641%;
    padding-right:2.5641%
}
.col-10.p-l-0{
    padding-left:0 !important
}
.col-10.p-r-0{
    padding-right:0 !important
}
.col-12{
    width:100%;
    padding-left:2.5641%;
    padding-right:2.5641%
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .m-100{
        width:100% !important;
        padding:0 !important
    }
}
@media only screen and (min-width: 0) and (max-width: 600px) and (min-width: 0) and (max-width: 600px){
    .m-100.text{
        padding:0 2rem 2rem 2rem !important;
        text-align:left !important
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .m-none{
        display:none !important
    }
}
.p-t-0{
    padding-top:0 !important
}
.p-b-0{
    padding-bottom:0 !important
}
.p-t-13{
    padding-top:13rem !important
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .p-t-13{
        padding-top:10.4rem !important
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .p-t-13{
        padding-top:8.32rem !important
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .p-t-13{
        padding-top:6.65rem !important
    }
}
.off-l-35{
    padding-left:35px !important
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .off-l-35{
        padding-left:0 !important
    }
}
.gridblock{
    width:100%;
    float:left;
    overflow:hidden
}
.gridblock>*{
    float:left;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.gridblock.two>*{
    width:50%
}
html,body{
    -webkit-text-size-adjust:none;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility
}
body,h1,h2,h3,h4,h5,ul,p{
    margin:0px;
    padding:0px;
    border:none
}
html,body,body div,span,h1,h2,h3,h4,h5,p,img,i,ul,li,figure,footer,header,section,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font-weight:normal;
    vertical-align:baseline;
    background:transparent
}
section,header,footer,figure,figcaption{
    display:block
}
ul{
    list-style:none
}
::selection{
    background:rgba(255,225,0,0);
    color:#c19b76
}
::-moz-selection{
    background:rgba(255,225,0,0);
    color:#c19b76
}
*:before,*:after,*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.button{
    font-size:11px;
    display:inline-block;
    font-family:"freight-sans-pro-n7","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:700;
    line-height:16px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:1.2px;
    padding:15px 35px;
    border:2px solid #fff;
    color:#fff;
    margin-top:3.5rem;
    position:relative;
    z-index:2;
    -webkit-transition:all .2s ease-in;
    -khtml-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -ms-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .button{
        margin-top:4.8rem
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .button{
        margin-top:3.84rem
    }
}
@media print{
    .button{
        display:none
    }
}
.button:hover{
    color:#fff;
    background-color:#c19b76;
    border-color:#c19b76
}
.button.gold{
    border-color:#c19b76;
    color:#c19b76
}
.button.gold:hover{
    color:#fff;
    background-color:#c19b76
}
.button.booking{
    background-color:rgba(255,255,255,0);
    font-family:"freight-sans-pro-n7","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:700
}
.mobile-booking{
    display:none;
    height:60px;
    line-height:60px;
    background-color:#c19b76;
    color:#fff;
    text-transform:uppercase;
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    text-align:center;
    position:fixed;
    left:0;
    z-index:123;
    width:100%;
    bottom:0
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .mobile-booking{
        display:block
    }
}
section{
    position:relative;
    z-index:51
}
footer{
    position:relative;
    z-index:51
}
h1,h3,h4,a,li{
    font-family:"Didot 24 A","Didot 24 B";
    -webkit-font-smoothing:antialiased
}
h1{
    font-size:64px;
    line-height:1.25em;
    font-family:"Didot 24 A","Didot 24 B"
}
@media only screen and (min-width: 1220px) and (max-width: 1439px){
    h1{
        font-size:52px
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    h1{
        font-size:46px
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    h1{
        font-size:42px
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    h1{
        font-size:36px
    }
}
@media print{
    h1{
        font-size:20px !important;
        margin-bottom:20px !important
    }
}
h5{
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    font-size:11px;
    color:#fff;
    line-height:2.2em;
    letter-spacing:1.96px;
    padding-bottom:26.5px;
    margin-bottom:2rem;
    padding-left:35px;
    padding-right:35px;
    display:inline-block;
    position:relative
}
@media print{
    h5{
        color:rgba(0,0,0,0.6);
        font-weight:700
    }
}
h5:after{
    content:"";
    display:inline-block;
    bottom:10px;
    position:absolute;
    left:50%;
    height:1px;
    width:35px;
    margin-left:-17.5px;
    background-color:#fff
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    h5:after{
        bottom:-10px
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    h5:after{
        bottom:-10px
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    h5{
        padding-bottom:0;
        line-height:1.8em
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    h5{
        padding-bottom:0;
        line-height:1.8em
    }
}
h2{
    font-family:"Didot 24 A","Didot 24 B"
}
@media print{
    h3{
        font-size:16px !important;
        margin-bottom:15px !important;
        padding-bottom:0 !important
    }
}
h2,h3{
    font-size:36px;
    line-height:1.6em;
    color:#1c1c1c
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    h2,h3{
        line-height:1.5em
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    h2,h3{
        font-size:24px;
        line-height:1.4em
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    h2,h3{
        line-height:1.4em;
        font-size:24px;
        padding-top:2rem
    }
}
*{
    font-variant-numeric:lining-nums;
    -moz-font-feature-settings:"lnum";
    -ms-font-feature-settings:"lnum";
    -webkit-font-feature-settings:"lnum";
    font-feature-settings:"lnum"
}
.hyphen{
    position:relative;
    padding-left:35px
}
@media print{
    .hyphen{
        color:#1c1c1c !important;
        padding:0 !important
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .hyphen{
        padding-left:0;
        padding-bottom:2rem !important
    }
}
.hyphen:before{
    content:"";
    position:absolute;
    display:inline-block;
    top:23px;
    left:-30px;
    height:1px;
    width:30px;
    background-color:#1c1c1c
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .hyphen:before{
        top:18px
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .hyphen:before{
        display:none
    }
}
@media print{
    .hyphen:before{
        display:none
    }
}
h4{
    font-size:19px;
    line-height:2.2em;
    color:#1c1c1c
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    h4{
        line-height:1.6em
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    h4{
        line-height:1.6em
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    h4{
        font-size:17px;
        line-height:1.6em
    }
}
p{
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    font-size:15px;
    line-height:2.2em;
    color:#1c1c1c
}
@media only screen and (min-width: 0) and (max-width: 600px){
    p{
        line-height:1.6em;
        padding-top:3rem
    }
}
p a{
    color:#c19b76;
    font-family:inherit;
    font-style:inherit;
    font-size:inherit;
    line-height:inherit
}
p a:hover{
    text-decoration:underline
}
@media print{
    p{
        font-size:10px !important;
        line-height:14px !important
    }
}
a{
    font-size:13px;
    line-height:2.3em;
    text-decoration:none;
    color:#1c1c1c
}
li{
    font-size:13px;
    line-height:2.3em
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    li{
        line-height:2em
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    li{
        line-height:2em
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    li{
        line-height:1.8em
    }
}
li a{
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    color:#c19b76
}
.subheading{
    color:#fff;
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    font-size:11px;
    letter-spacing:1.2px;
    text-transform:none
}
.icon{
    font-family:'alh-icons';
    font-size:17px;
    font-style:normal;
    letter-spacing:normal;
    vertical-align:middle
}
.scroll-down-centered{
    text-align:center
}
.main-wrapper{
    position:relative;
    height:100%;
    min-height:100%;
    width:100%
}
.content-wrapper{
    position:relative;
    height:100%;
    min-height:100%;
    width:100%
}
@media print{
    .content-wrapper{
        font-size:0;
        width:100%;
        padding:0
    }
}
html{
    font-size:56.25%
}
@media only screen and (min-width: 1220px) and (max-width: 1439px){
    html{
        font-size:62.5%
    }
}
@media only screen and (min-width: 1440px) and (max-width: 1599px){
    html{
        font-size:62.5%
    }
}
@media only screen and (min-width: 1600px){
    html{
        font-size:62.5%
    }
}
html,body{
    height:100%;
    width:100%
}
@media print{
    html,body{
        color:#000 !important
    }
}
body{
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    font-size:15px;
    line-height:2.2em;
    position:relative;
    width:100%;
    height:100%;
    -webkit-font-smoothing:antialiased;
    -webkit-font-smoothing:subpixel-antialiased
}
.back-to-top{
    display:inline-block;
    height:60px;
    width:50px;
    text-align:center;
    line-height:60px;
    color:#1c1c1c;
    position:fixed;
    bottom:0;
    right:0;
    z-index:440;
    border-top:1px solid #f0f0f0;
    -webkit-transition:all .2s ease-in;
    -khtml-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -ms-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
    overflow:hidden;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -webkit-transition:all, .3s 0s, visibility 0s .3s;
    -moz-transition:all, .3s 0s, visibility 0s .3s;
    transition:all, .3s 0s, visibility 0s .3s
}
@media print{
    .back-to-top{
        display:none
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .back-to-top{
        display:none
    }
}
.outer-wrapper{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0
}
.outer{
    display:table;
    height:100% !important;
    left:0;
    min-height:100%;
    position:absolute;
    right:0;
    table-layout:fixed;
    top:0;
    width:100%;
    z-index:2
}
.outer .inner{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:100%;
    position:relative
}
::-webkit-input-placeholder{
    color:#c19b76;
    -webkit-transition:all .3s ease-in;
    -khtml-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -ms-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in
}
:-moz-placeholder{
    color:#c19b76;
    -webkit-transition:all .3s ease-in;
    -khtml-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -ms-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in
}
::-moz-placeholder{
    color:#c19b76;
    -webkit-transition:all .3s ease-in;
    -khtml-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -ms-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in
}
:-ms-input-placeholder{
    color:#c19b76;
    -webkit-transition:all .3s ease-in;
    -khtml-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -ms-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in
}
.itemblock-special-offers{
    width:100%
}
.itemblock-special-offers>*{
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    content:"three"
}
.itemblock-special-offers.three>*{
    position:relative;
    width:32%;
    margin-right:2%
}
.itemblock-special-offers.three>*:nth-child(3n){
    margin-right:2%
}
.itemblock-special-offers.three>*:nth-child(3n){
    margin-right:0
}
.itemblock-special-offers.three>*:last-child{
    margin-right:0
}
.itemblock-special-offers{
    width:100%
}
.itemblock-special-offers>*{
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    content:"four"
}
.itemblock-meetings-select{
    width:100%
}
.itemblock-meetings-select>*{
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    content:"three"
}
.itemblock-meetings-select.three>*{
    position:relative;
    width:33.2%;
    margin-right:.2%
}
.itemblock-meetings-select.three>*:nth-child(3n){
    margin-right:.2%
}
.itemblock-meetings-select.three>*:nth-child(3n){
    margin-right:0
}
.itemblock-meetings-select.three>*:last-child{
    margin-right:0
}
@media only screen and (min-width: 600px) and (max-width: 767px){
    .itemblock-special-offers{
        width:100%
    }
    .itemblock-special-offers>*{
        float:left;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        content:"three"
    }
    .itemblock-special-offers.three>*{
        position:relative;
        width:100%;
        margin-right:2%
    }
    .itemblock-special-offers.three>*:nth-child(3n){
        margin-right:2%
    }
    .itemblock-special-offers.three>*:nth-child(1n){
        margin-right:0
    }
    .itemblock-special-offers.three>*:last-child{
        margin-right:0
    }
    .itemblock-special-offers{
        width:100%
    }
    .itemblock-special-offers>*{
        float:left;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        content:"four"
    }
    .itemblock-meetings-select{
        width:100%
    }
    .itemblock-meetings-select>*{
        float:left;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        content:"three"
    }
    .itemblock-meetings-select.three>*{
        position:relative;
        width:49.9%;
        margin-right:.2%
    }
    .itemblock-meetings-select.three>*:nth-child(3n){
        margin-right:.2%
    }
    .itemblock-meetings-select.three>*:nth-child(2n){
        margin-right:0
    }
    .itemblock-meetings-select.three>*:last-child{
        margin-right:0
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .itemblock-special-offers{
        width:100%
    }
    .itemblock-special-offers>*{
        float:left;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        content:"three"
    }
    .itemblock-special-offers.three>*{
        position:relative;
        width:100%;
        margin-right:2%
    }
    .itemblock-special-offers.three>*:nth-child(3n){
        margin-right:2%
    }
    .itemblock-special-offers.three>*:nth-child(1n){
        margin-right:0
    }
    .itemblock-special-offers.three>*:last-child{
        margin-right:0
    }
    .itemblock-special-offers{
        width:100%
    }
    .itemblock-special-offers>*{
        float:left;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        content:"four"
    }
    .itemblock-meetings-select{
        width:100%
    }
    .itemblock-meetings-select>*{
        float:left;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        content:"three"
    }
    .itemblock-meetings-select.three>*{
        position:relative;
        width:100%;
        margin-right:.2%
    }
    .itemblock-meetings-select.three>*:nth-child(3n){
        margin-right:.2%
    }
    .itemblock-meetings-select.three>*:nth-child(1n){
        margin-right:0
    }
    .itemblock-meetings-select.three>*:last-child{
        margin-right:0
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .container{
        width:100%
    }
}
@media print{
    .container{
        width:100% !important
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .row{
        width:100%
    }
}
@media print{
    .row{
        max-width:100% !important
    }
}
@media print{
    *{
        background-color:rgba(255,255,255,0) !important
    }
}
li{
    display:block;
    position:relative
}
.header{
    position:relative;
    z-index:2;
    text-align:center !important
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .header{
        padding:0 2rem
    }
}
.header h1,.header h4{
    color:#fff
}
.header h1{
    font-size:79px;
    padding-top:1rem;
    padding-bottom:1rem;
    font-family:"Didot 24 A","Didot 24 B"
}
@media only screen and (min-width: 1220px) and (max-width: 1439px){
    .header h1{
        font-size:52px;
        padding-top:1rem;
        padding-bottom:1rem
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .header h1{
        font-size:46px;
        padding-top:1rem;
        padding-bottom:1rem
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .header h1{
        font-size:46px;
        padding-top:0.5rem;
        padding-bottom:0.5rem
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .header h1{
        font-size:42px;
        padding-top:0;
        padding-bottom:0.5rem
    }
}
.header h4{
    font-size:18px;
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400
}
.header a{
    color:#fff
}
.header a:hover{
    background-color:#c19b76;
    border-color:#c19b76
}
.controls-wrapper{
    position:absolute;
    bottom:7rem;
    left:50%;
    width:100%;
    z-index:88;
    -webkit-transform:translateX(-50%);
    -khtml-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%)
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .controls-wrapper{
        bottom:8rem
    }
}
.controls-wrapper .scroll-down{
    text-align:right;
    color:#fff;
    font-style:italic;
    position:relative
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .controls-wrapper .scroll-down{
        display:none
    }
}
.controls-wrapper .scroll-down .icon{
    position:absolute;
    width:30px;
    height:30px;
    right:-30px;
    opacity:0;
    top:-18px
}
*{
    margin:0;
    padding:0
}
body,html{
    height:100%
}
.full-video-container{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-size:cover
}
.full-video-popup-wrapper{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9992;
    background-color:#1c1c1c;
    padding:4.16667% 8.3334%;
    opacity:0;
    visibility:hidden
}
.full-video-popup{
    position:relative;
    width:100%;
    height:0;
    padding-bottom:56.25%;
    top:50%;
    -webkit-transform:translateY(-50%);
    -khtml-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%)
}
.full-video{
    position:absolute;
    opacity:0;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.has-no-scroll .navigation .main-nav .tools{
    right:0
}
.has-no-scroll .navigation .main-nav .tools .book-now{
    display:inline-block
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .has-no-scroll .navigation .main-nav .tools .book-now{
        display:none
    }
}
.navigation{
    position:fixed;
    top:0;
    left:0;
    height:120px;
    width:100%;
    z-index:9991
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .navigation{
        height:90px
    }
}
.navigation .main-nav{
    height:60px;
    width:100%;
    background-color:#fff;
    position:relative;
    z-index:5;
    border-bottom:1px solid #f0f0f0
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .navigation .main-nav{
        height:55px
    }
}
.navigation .main-nav .logo{
    position:absolute;
    left:1.5px;
    top:4px;
    z-index:10;
   
    -webkit-transition:all .2s ease-in;
    -khtml-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -ms-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in
}
.navigation .main-nav .logo:hover{
   
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .navigation .main-nav .logo{
        
    }
}
.navigation .main-nav .nav{
    position:relative
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .navigation .main-nav .nav{
        padding-right:0;
        padding-left:65px
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .navigation .main-nav .nav .page-navigation{
        display:none
    }
}
.navigation .main-nav .nav li{
    display:inline-block;
    margin-left:50px
}
@media only screen and (min-width: 1220px) and (max-width: 1439px){
    .navigation .main-nav .nav li{
        margin-left:40px
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .navigation .main-nav .nav li{
        margin-left:30px
    }
}
.navigation .main-nav .nav li a{
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    font-size:12px;
    line-height:60px;
    letter-spacing:0.2px;
    display:block;
    position:relative;
    color:#1c1c1c;
    -webkit-transition:all .2s ease-in;
    -khtml-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -ms-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in
}
.navigation .main-nav .nav li a:before{
    position:absolute;
    content:'';
    bottom:1.8rem;
    height:1px;
    width:100%;
    left:0;
    display:inline-block;
    background-color:#c19b76;
    -webkit-transform:scaleX(0);
    -khtml-transform:scaleX(0);
    -moz-transform:scaleX(0);
    -ms-transform:scaleX(0);
    -o-transform:scaleX(0);
    transform:scaleX(0);
    -webkit-transition:all .2s ease-in;
    -khtml-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -ms-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
}
.navigation .main-nav .nav li a:hover{
    color:#c19b76
}
.navigation .main-nav .nav li a:hover:before{
    -webkit-transform:scaleX(1);
    -khtml-transform:scaleX(1);
    -moz-transform:scaleX(1);
    -ms-transform:scaleX(1);
    -o-transform:scaleX(1);
    transform:scaleX(1)
}
.navigation .main-nav .tools{
    position:absolute;
    top:0;
    right:30px;
    height:60px
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .navigation .main-nav .tools{
        right:0
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .navigation .main-nav .tools{
        position:relative;
        padding-left:75px
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .navigation .main-nav .tools{
        height:55px;
        padding-left:55px
    }
}
.navigation .main-nav .tools .book-now{
    display:none;
    background-color:#c19b76;
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    color:#fff;
    height:100%;
    text-transform:uppercase;
    line-height:60px;
    padding:0 30px;
    margin-left:2rem
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .navigation .main-nav .tools .book-now{
        float:right;
        margin-right:60px
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .navigation .main-nav .tools .book-now{
        display:none
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .navigation .main-nav .tools .book-now{
        margin-left:1rem;
        padding:0 20px
    }
}
.navigation .main-nav .mobile-menu{
    display:none;
    position:absolute;
    width:60px;
    height:60px;
    right:0;
    top:0
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .navigation .main-nav .mobile-menu{
        display:block
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .navigation .main-nav .mobile-menu{
        height:55px;
        width:55px
    }
}
.navigation .main-nav .mobile-menu a{
    display:block;
    width:100%;
    height:100%;
    padding:24px 20px;
    -webkit-transition:all .2s ease-in;
    -khtml-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -ms-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .navigation .main-nav .mobile-menu a{
        padding:16.5px 12px
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .navigation .main-nav .mobile-menu a{
        padding:16.5px 12px
    }
}
.navigation .main-nav .mobile-menu .menu-bar{
    background:#858585;
    display:block;
    height:2px;
    margin:4px
}
.mobile-navigation-wrapper{
    position:fixed;
    height:100%;
    width:320px;
    background-color:#fff;
    top:0;
    right:-320px;
    z-index:9999;
    padding:60px 0 0 40px;
    display:none;
    overflow-y:scroll
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .mobile-navigation-wrapper{
        display:block
    }
}
.mobile-navigation-wrapper a{
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    font-size:14px;
    display:block;
    color:#1c1c1c
}
.mobile-navigation-wrapper .mobile-menu-close{
    position:absolute;
    display:block;
    width:55px;
    height:55px;
    text-align:center;
    line-height:55px;
    top:0;
    right:0
}
.mobile-nav{
    max-height:93vh;
    overflow:auto
}
/*! * Fotorama 4.6.3 | http://fotorama.io/license/ */
@-moz-document url-prefix(){
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus){
    -webkit-transform:translate3d(32px, -32px, 0);
    transform:translate3d(32px, -32px, 0)
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus){
    -webkit-transform:translate3d(-48px, 0, 0);
    transform:translate3d(-48px, 0, 0)
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){
    -webkit-transform:translate3d(48px, 0, 0);
    transform:translate3d(48px, 0, 0)
}
.fotorama__wrap--css3 .fotorama__arr:not(:focus),.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),.fotorama__wrap--css3 .fotorama__video-close:not(:focus),.fotorama__wrap--css3 .fotorama__video-play:not(:focus){
    transition-property:-webkit-transform, opacity;
    transition-property:transform, opacity
}
.close-full-video{
    position:absolute;
    display:block;
    right:40px;
    top:40px;
    width:40px;
    height:40px;
    text-align:center;
    z-index:1000
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .close-full-video{
        right:25px;
        top:15px;
        width:20px;
        height:20px
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .close-full-video{
        right:25px;
        top:25px
    }
}
@media only screen and (min-width: 600px) and (max-width: 767px){
    .close-full-video{
        right:15px;
        top:25px
    }
}
.close-full-video .icon{
    color:#333333;
    line-height:40px;
    font-size:24px;
    display:block;
    -webkit-transition:all .2s ease-in;
    -khtml-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -ms-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .close-full-video .icon{
        line-height:20px;
        font-size:16px
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .close-full-video .icon{
        line-height:40px;
        font-size:20px
    }
}
.close-full-video:hover .icon{
    color:#fff;
    -webkit-transform:rotate(90deg) scale(1.15);
    -khtml-transform:rotate(90deg) scale(1.15);
    -moz-transform:rotate(90deg) scale(1.15);
    -ms-transform:rotate(90deg) scale(1.15);
    -o-transform:rotate(90deg) scale(1.15);
    transform:rotate(90deg) scale(1.15)
}
.footer-bottom{
    padding:3.5rem 0;
    background-color:#151515;
    color:#fff
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .footer-bottom{
        padding:2.5rem 0
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .footer-bottom{
        padding:3.5rem 2rem 6.5rem 2rem
    }
}
.footer-bottom .credits{
    text-align:left;
    padding-top:2rem;
    margin-top:4rem;
    border-top:1px solid #282828
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .footer-bottom .credits{
        text-align:center;
        width:100%;
        padding-left:0;
        padding-right:0
    }
}
.footer-bottom .credits span{
    display:inline-block;
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    color:#858585;
    font-size:10px;
    margin-right:25px
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .footer-bottom .credits span{
        margin:10px
    }
}
.flex{
    display:flex;
    justify-content:space-between;
    align-items:center
}
.left-side{
    align-items:center;
    display:flex
}
.about{
    background-color:#fff;
    position:relative;
    z-index:3
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .about{
        padding:10.4rem 0
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .about{
        padding:10.4rem 0
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    
        .main-wrapper .main-page-header .header-bg-image {
    width: auto;
    position: absolute;
    z-index: -100;
    background-size: cover;
    height: 100%;
}
   

}
.about h2{
    text-align:center;
    font-size:35px;
    padding-bottom:11rem
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .about h2{
        padding-bottom:8.8rem;
        font-size:32px
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .about h2{
        padding-bottom:7.04rem;
        font-size:28px
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .about h2{
        text-align:left;
        padding-bottom:3rem
    }
}
.about p{
    padding-bottom:3rem
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .about p{
        padding-bottom:0
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .about p{
        padding-bottom:0
    }
}
.about.meetings-global{
    background-color:#f5f5f5
}
.destination-features{
    background-color:#f5f5f5;
    padding:13rem 0
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .destination-features{
        padding:10.4rem 0
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .destination-features{
        padding:8.32rem 0
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .destination-features{
        padding:8.32rem 0 6.32rem 0
    }
}
@media print{
    .destination-features{
        padding:15px 0
    }
}
@media print{
    .destination-features{
        display:inline-block;
        width:25%;
        padding-right:40px;
        padding-top:0;
        padding-bottom:40px !important;
        vertical-align:top
    }
}
@media print{
    .destination-features .feature-wrapper .feature-image{
        display:none
    }
}
@media print{
    .destination-features .feature-wrapper .feature-text{
        float:none !important
    }
}
@media print{
    .destination-features .feature-wrapper .feature-text .outer-wrapper{
        position:relative !important
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .destination-features .feature-wrapper .feature-text .outer-wrapper{
        position:relative;
        height:auto;
        max-height:100%
    }
}
@media print{
    .destination-features .feature-wrapper .feature-text .outer{
        position:relative !important
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .destination-features .feature-wrapper .feature-text .outer{
        position:relative
    }
}
@media print{
    .destination-features .feature-wrapper .feature-text .inner{
        position:relative !important
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .destination-features .feature-wrapper .feature-text .inner h3{
        padding-left:5%
    }
}
.feature-wrapper{
    background-color:#fff;
    position:relative;
    padding:0
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .feature-wrapper{
        padding:0 2rem 2rem 2rem;
        background-color:#f5f5f5
    }
}
.feature-wrapper .feature-text{
    text-align:center !important;
    min-height:600px;
    position:relative;
    top:0;
    opacity:1
}
@media print{
    .feature-wrapper .feature-text{
        min-height:0 !important
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .feature-wrapper .feature-text{
        padding:7.6rem 0 0 0 !important;
        min-height:500px
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .feature-wrapper .feature-text{
        padding:6.6rem 0 0 0 !important;
        min-height:440px
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .feature-wrapper .feature-text{
        width:100%;
        padding:4rem 0 8rem 0 !important;
        min-height:280px;
        background-color:#fff
    }
}
.feature-wrapper .feature-text .outer-wrapper{
    max-height:93%
}
.feature-wrapper .feature-text h3{
    padding-left:10%;
    padding-right:10%;
    line-height:1.1em;
    padding-bottom:0.5rem
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .feature-wrapper .feature-text h3{
        padding-top:0rem
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .feature-wrapper .feature-text h3{
        padding-top:0rem
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .feature-wrapper .feature-text p{
        line-height:1.6em
    }
}
.feature-wrapper .feature-text.left{
    float:left
}
.feature-wrapper .feature-text.right{
    float:right
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .feature-wrapper .feature-text h3{
        padding-bottom:2rem
    }
}
.feature-wrapper .feature-text p{
    padding:0 22%
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .feature-wrapper .feature-text p{
        padding:0 17.6%
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .feature-wrapper .feature-text p{
        padding:0 14.08%
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .feature-wrapper .feature-text p{
        padding:0 6%
    }
}
.feature-wrapper .feature-image{
    position:absolute;
    height:100%;
    vertical-align:top;
    top:0
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .feature-wrapper .feature-image{
        width:100%;
        position:relative
    }
}
.feature-wrapper .feature-image.right{
    left:50%;
    top:0
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .feature-wrapper .feature-image.right{
        left:auto
    }
}
.feature-wrapper .feature-image.left{
    right:50%;
    top:0
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .feature-wrapper .feature-image.left{
        right:auto
    }
}
.feature-wrapper .feature-image img{
    position:absolute;
    top:0;
    height:105%;
    left:50%;
    width:auto;
    vertical-align:top;
    -webkit-transform:translateX(-50%);
    -khtml-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%)
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .feature-wrapper .feature-image img{
        width:100%;
        height:auto;
        position:relative
    }
}
.special-offers{
    text-align:center;
    color:#1c1c1c
}
.special-offers .offers-block{
    padding-bottom:13rem
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .special-offers .offers-block{
        padding-bottom:10.4rem
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .special-offers .offers-block{
        padding-bottom:8.6rem
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .special-offers .offers-block{
        padding-bottom:4.4rem
    }
}
.special-offers .offers-block{
    padding-top:13rem
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .special-offers .offers-block{
        padding-top:10.4rem
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .special-offers .offers-block{
        padding-top:8.32rem
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .special-offers .offers-block{
        padding-top:4.4rem
    }
}
.special-offers .offers-block .offer{
    margin-bottom:15px
}
.special-offers .offers-block .offer a{
    display:block
}
.special-offers .offers-block .offer a figure{
    position:relative;
    overflow:hidden;
    display:block;
    -webkit-transition:all .5s cubic-bezier(0.55, 0, 0.1, 1);
    -khtml-transition:all .5s cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition:all .5s cubic-bezier(0.55, 0, 0.1, 1);
    -ms-transition:all .5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition:all .5s cubic-bezier(0.55, 0, 0.1, 1);
    transition:all .5s cubic-bezier(0.55, 0, 0.1, 1)
}
.special-offers .offers-block .offer a figure:before{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:50%;
    content:" ";
    opacity:1;
    z-index:1;
    -webkit-transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    -khtml-transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    -ms-transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    background-color:transparent 0%;
    background-image:-webkit-gradient(linear, left top, left bottom, from(transparent 0%), to(rgba(0,0,0,0.9) 50%));
    background-image:-webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.9) 50%);
    background-image:-moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.9) 50%);
    background-image:-ms-linear-gradient(top, transparent 0%, rgba(0,0,0,0.9) 50%);
    background-image:-o-linear-gradient(top, transparent 0%, rgba(0,0,0,0.9) 50%);
    background-image:linear-gradient(top, transparent 0%, rgba(0,0,0,0.9) 50%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='transparent 0%', endColorStr='rgba(0,0,0,0.9) 50%')
}
.special-offers .offers-block .offer a figure:after{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    content:"";
    background:rgba(0,0,0,0.5);
    opacity:0;
    -webkit-transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    -khtml-transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    -ms-transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition:all .3s cubic-bezier(0.55, 0, 0.1, 1);
    transition:all .3s cubic-bezier(0.55, 0, 0.1, 1)
}
.special-offers .offers-block .offer a figure img{
    width:100%;
    height:auto;
    vertical-align:top
}
.special-offers .offers-block .offer a figure figcaption{
    z-index:1;
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    top:50%;
    left:0;
    padding:8%;
    text-align:left;
    -webkit-transition:all .4s cubic-bezier(0.55, 0, 0.1, 1);
    -khtml-transition:all .4s cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition:all .4s cubic-bezier(0.55, 0, 0.1, 1);
    -ms-transition:all .4s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition:all .4s cubic-bezier(0.55, 0, 0.1, 1);
    transition:all .4s cubic-bezier(0.55, 0, 0.1, 1)
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .special-offers .offers-block .offer a figure figcaption{
        top:46%
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .special-offers .offers-block .offer a figure figcaption{
        top:44%
    }
}
.special-offers .offers-block .offer a figure figcaption h5{
    padding:0
}
.special-offers .offers-block .offer a figure figcaption h5:after{
    left:0;
    margin-left:0;
    top:30px
}
.special-offers .offers-block .offer a figure:hover:before{
    opacity:0
}
.special-offers .offers-block .offer a figure:hover:after{
    opacity:1
}
.special-offers .offers-block .offer a figure:hover figcaption{
    top:0;
    background:transparent
}
.fact-list-section{
    padding:13rem 0;
    background-color:#151515
}
@media print{
    .fact-list-section{
        padding:0;
        width:100%;
        float:left
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .fact-list-section{
        padding:10.4rem 0
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .fact-list-section{
        padding:8.32rem 0
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .fact-list-section{
        padding:4.4rem 0
    }
}
.fact-list-section .gridblock{
    overflow:visible
}
.fact-list-section .gridblock>*{
    overflow:visible
}
.fact-list-section .hyphen{
    padding-bottom:5rem;
    color:#fff
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .fact-list-section .hyphen{
        padding-bottom:3.4rem
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .fact-list-section .hyphen{
        padding-bottom:5.12rem
    }
}
.fact-list-section .hyphen:before{
    background-color:#858585
}
@media print{
    .fact-list-section .row:first-child{
        width:100% !important
    }
}
@media print{
    .fact-list-section .row{
        width:50% !important;
        float:left;
        padding-right:0 !important;
        padding-left:0 !important
    }
}
@media print{
    .fact-list-section .col-10{
        width:100% !important;
        padding-right:0 !important;
        padding-left:0 !important
    }
}
@media print{
    .fact-list-section .m-none{
        height:0 !important
    }
}
@media print{
    .fact-list-section .col-1{
        display:none
    }
}
.two-column-text{
    -webkit-columns:2;
    columns:2;
    padding:0 9rem
}
@media print{
    .two-column-text{
        -webkit-columns:1 !important;
        columns:1 !important;
        padding:0 !important
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .two-column-text{
        padding:0 6rem !important
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .two-column-text{
        padding:0 4rem !important
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .two-column-text{
        -webkit-columns:1 !important;
        columns:1 !important;
        padding:0 !important
    }
}
.main-wrapper .main-page-header{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .main-wrapper .main-page-header{
        height:100% !important;
        position:relative !important;
        overflow:hidden !important
    }
}
.main-wrapper .main-page-header:after{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    content:"";
    background:rgba(0,0,0,0.2)
}
.main-wrapper .main-page-header .header-bg-image{
    width:100%;    position:absolute;
    
    z-index:-100;
        background-size:cover
}
.main-wrapper .main-page-header h1{
    font-size:79px;
    padding-top:3rem
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .main-wrapper .main-page-header h1{
        font-size:48px !important
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .main-wrapper .main-page-header h1{
        font-size:36px !important;
        margin-top:0 !important
    }
}
.two-column-text{
    -webkit-columns:2;
    -moz-columns:2;
    columns:2;
    padding:0 9rem
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .two-column-text.meeting-global-text{
        padding-bottom:40px !important
    }
}
.two-column-text.meeting-global-text p{
    padding:0 2rem
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .two-column-text.meeting-global-text p{
        font-size:17px;
        line-height:1.9em
    }
}
.feature-wrapper{
    position:relative
}
.feature-wrapper .feature-text{
    text-align:left;
    padding:0 10% 0 0
}
.feature-wrapper .feature-text .outer-wrapper{
    max-height:93%
}
.main-wrapper .main-page-header{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .main-wrapper .main-page-header{
        height:100% !important;
        position:relative !important;
        overflow:hidden !important
    }
}
.main-wrapper .main-page-header.villas-landing h1{
    font-size:79px
}
@media only screen and (min-width: 1025px) and (max-width: 1219px){
    .main-wrapper .main-page-header.villas-landing h1{
        font-size:46px
    }
}
@media only screen and (min-width: 0) and (max-width: 1024px){
    .main-wrapper .main-page-header.villas-landing h1{
        font-size:42px
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .main-wrapper .main-page-header.villas-landing h1{
        font-size:36px
    }
}
.fact-list{
    padding-left:10%;
    padding-bottom:4rem
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .fact-list{
        padding-top:4rem !important
    }
}
.fact-list h4{
    color:#fff;
    padding-bottom:5rem
}
.fact-list .subheading{
    text-transform:uppercase;
    line-height:2.2em;
    padding-bottom:0.5rem
}
.fact-list ul li{
    color:#858585;
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    line-height:1.6em;
    font-size:14px
}
.fact-list ul li a{
    -webkit-transition:all .2s ease-in;
    -khtml-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -ms-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in
}
.fact-list ul li a:hover{
    color:#c19b76;
    text-decoration:underline
}
.itemblock-meetings-select .hotel-meeting{
    margin-bottom:0.2%
}
@media only screen and (min-width: 600px) and (max-width: 767px){
    .itemblock-meetings-select .hotel-meeting{
        margin-bottom:2px
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .itemblock-meetings-select .hotel-meeting{
        margin-bottom:2px
    }
}
.itemblock-meetings-select .hotel-meeting a{
    text-align:center;
    display:block;
    font-family:"freight-sans-pro-n4","freight-sans-pro",Arial,serif,sans-serif;
    font-style:normal;
    font-weight:400;
    text-transform:uppercase;
    padding:4rem 0;
    background-color:#fff;
    color:#1c1c1c;
    z-index:0;
    position:relative;
    -webkit-transition:all .3s ease-in;
    -khtml-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -ms-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in
}
@media only screen and (min-width: 600px) and (max-width: 767px){
    .itemblock-meetings-select .hotel-meeting a{
        padding:2rem 0
    }
}
@media only screen and (min-width: 0) and (max-width: 600px){
    .itemblock-meetings-select .hotel-meeting a{
        padding:2rem 0
    }
}
.itemblock-meetings-select .hotel-meeting a:hover{
    background-color:#c19b76;
    color:#fff
}
 